@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.sections {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
    margin-right: 70px;
    margin-left: 70px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


/* Header Styles */

#head-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 150px 0px 0px 0px;
    background-color: blue;
    height: 120vh; 
    background-image: url("Imagens/black-blue-background-with-wavy-shapes/3190.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#head-Information {
    width: 600px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#head-img {
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-card {
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#head-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}

#head-card h2 {
    font-size: 2rem;
}

#head-Information h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

/*navbar styles */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navimg {
    width: 100px;
    height: auto;
    margin-left: 60px;
}

#navlinks {
    display: flex;
    align-items: center;
}

#navlinks ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#navlinks ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;        
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navlinks ul li a:hover {
    color: #007BFF;
}

#navbutton {
    margin-right: 60px;
}

#navbutton button {
    position: relative;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    transition: all 0.3s ease;
}

#navbutton a{
    text-decoration: none;
    color: white;
}

#navbutton button:hover {
    background-color: #0056b3;
}

/*Estilo da Section CURSOS*/

#cursos {
    background-color: #ffffff;
    padding: 50px 0;
    height: 90vh;
}

.curso-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
}

.curso-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

.curso-card button {
    padding: 10px 20px;
    background-color: white;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    border: 2px solid #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.curso-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
}

.curso-card:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.curso-card button:hover {
    background-color: #007BFF;
    color: white;
}

/*Estilo da Section CONTACTO*/

#contact {
    background-image: url("Imagens/abstract-bokeh-lights-background/abstract_bokeh_lights_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    height: 90vh;
}

#contact-form {
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-group {
    width: 500px;
}

.Message-group {
    width: 500px;
}

.input-group input{
        width: 100%;
        position: relative;
        padding: 20px;
        list-style: none;
        border-radius: 8px; ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px; ;
        border-left: 2px solid #7b68ee;
        background-color: white;
        color: black;
        transition: color 0.3s ease;
        z-index: 1;
        border-right: 1px solid rgb(207, 207, 207);
        border-bottom: 1px solid rgb(207, 207, 207);
        border-top: 1px solid rgb(207, 207, 207);
        height: 50px;
}

.Message-group textarea {
        width: 100%;
        position: relative;
        padding: 20px;
        list-style: none;
        border-radius: 8px; ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px; ;
        border-left: 2px solid #7b68ee;
        background-color: white;
        color: black;
        transition: color 0.3s ease;
        z-index: 1;
        border-right: 1px solid rgb(207, 207, 207);
        border-bottom: 1px solid rgb(207, 207, 207);
        border-top: 1px solid rgb(207, 207, 207);
        height: 200px;
}
#contact-form textarea::placeholder {
    font-size: 12px;
    color: #999;
    text-align: left;
}

input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin:0;
}

#contact-form button {
    padding: 16px 50px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 150px;
    font-size: 18px;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/*Estilo da section Parceiros*/

#parceiros {
    background-color: #f8f8f8;
    padding: 50px 0;
    height: 40vh;
}

.parceiro-card img {
    width: 100px;
    height: auto;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.container-logos {
    display: flex;
    margin-right: 70px;
    margin-left: 70px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

/*Estilo da section NOTICIAS*/
#notices {
    background-color: #0906e3;
    padding: 50px 0;
    height: 90vh;
}

.notice-card {
    background-color: transparent;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 2px solid #71b6ff;
}

.notice-card h3 {
    margin-top: 20px;
    color: white;
}

.notice-card p {
    margin-top: 15px;
    color: white;
}

.notice-card button {
    padding: 15px 30px;
    background-color: transparent;
    color: #aed5ff;
    border: none;
    border-radius: 5px;
    border: 2px solid #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 100px;
    width: 400px;
}

.notice-card button:hover {
    background-color: #007BFF;
    color: white;
}

.notice-card:hover {
    transform: translateY(-5px);
}

/*Estilo da section ATIVIDADES*/
#atividades {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.atividade-card {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.atividade-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

.atividade-card h3 {
    margin-top: 20px;
}

.atividade-card p {
    margin-top: 15px;
}

.atividade-card button {
    padding: 15px 30px;
    background-color: #7b68ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.atividade-card button:hover {
    background-color: #5a4cd9;
}

/**Estilo da GALERIA*/
#galeria {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.container-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-galeria img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*Estilo da Section dos Diretores*/
#diretores {
    background-color: #f8f8f8;
    padding: 50px 0;
    height: 50vh;
}

#Diretores .container > img.diretorImg {
            display: none;
        }

.flip-card {
            perspective: 1000px;
            width: 300px;
            height: 400px;
            display: inline-block;
            margin: 0 10px 20px;
            border-radius: 8px;
        }
.year{
    position: absolute;
    background-color: blue;
    color: white;
    width: 60px;
    z-index: 10;
    border-radius: 8px;
    margin-top: 7px;
    margin-left: 235px;
}

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 90%;
            text-align: center;
            transition: transform .6s;
            transform-style: preserve-3d;
            box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
        }
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front,.flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 8px;
        }
        .flip-card-front img {
            width: 100%;
            height: 80%;
            object-fit: cover;
            border-radius: 8px;
             border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .flip-card-back {
            background: #fff;
            color: #000;
            transform: rotateY(180deg);
            padding: 1rem;
            box-sizing: border-box;
        }    
        
        .Explan{
            width: 100%;
            position: absolute;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            height: 60px;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .Explan p{
           font-size: 20px;
           color: #007BFF;
           font-weight: bold;
        }